.carCard_container {
  background-color: var(--lightBlue);
  padding: 1.5vw 2vh;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  height: 320px;
  border-radius: 12px;
  transition: box-shadow 0.3s ease-in;
  position: relative;
}

.carCard_container:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.carCard_content {
  width: 100%;
  text-transform: capitalize;
}

.carCard_content > h2 {
  font-size: clamp(12px, 1.2vw + 5px, 200px);
}

.carRentValue {
  font-size: clamp(10px, 1vw + 5px, 590px);
  vertical-align: center;
  width: 30%;
  padding: 5px 1vw ;
  height: 30px;
  background-color: #fff;
  border-radius: 50px;
  /* background: #e0e0e0; */
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: inline;
  visibility: hidden;
}

.carRentRupeeSymbol {
  vertical-align: top;
  font-size: 10px;
}

.carRentRupees {
  margin: 0 3px;
  font-weight: 600;
}

.carRentSub {
  vertical-align: baseline;
  font-size: 10px;
}

.carImg_container {
  width: 90%;
  height: 150px;
  margin: 0 auto;
  position: relative;
  /* background-color:pink;   */
}

.carImg_container > img {
  object-fit: contain;
  /* width: 100%;
    height: 100%; */
}

.carSpecs {
  width: 95%;
  height: 35px;
  margin: 0 auto;
  border-radius: 20px;

  position: relative;
}

.carSpecsInfo {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  display: flex;
  justify-content: space-between;
  visibility: visible;
  /* transition : visibility 0.5s ease-out; */
}

.carSpecsInfo > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.carCard_container:hover .carSpecsInfo {
  visibility: hidden;
  /* display: none; */
}

.carSpecsInfo > div > p {
  font-size: 11px;
  text-transform: capitalize;
}

.carSpecsViewMore {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  inset: 0;
  /* border-radius: inherit; */
  /* transition: visibility 0.5s ease-out; */
}

.carCard_container:hover .carSpecsViewMore {
  visibility: visible;
}


